[submodule ".registry"]
	path = .registry
	url = https://github.com/amaendle/amaendle.r-universe.dev
	branch = HEAD
[submodule "PUcopula"]
	path = PUcopula
	url = https://github.com/amaendle/PUcopula
[submodule "PUcopulaSynth"]
	path = PUcopulaSynth
	url = https://github.com/amaendle/PUcopulaSynth
[submodule "dsPUcopula"]
	path = dsPUcopula
	url = https://github.com/amaendle/dsPUcopula
[submodule "dsPUcopulaClient"]
	path = dsPUcopulaClient
	url = https://github.com/amaendle/dsPUcopulaClient
[submodule "ggiraphAlluvial"]
	path = ggiraphAlluvial
	url = https://github.com/amaendle/ggiraphAlluvial
[submodule "mvGoF"]
	path = mvGoF
	url = https://github.com/amaendle/mvGoF
[submodule "mvInterpolation"]
	path = mvInterpolation
	url = https://github.com/amaendle/mvInterpolation
[submodule "mvTargetOpt"]
	path = mvTargetOpt
	url = https://github.com/amaendle/mvTargetOpt
